body {
    background-image: url("fondo.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

}

header {
    background-color: rgb(4, 4, 58);
    color: white;
    font-size: large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    width: auto;
    height: auto;
    border-style: solid;
    border-color: aliceblue;
    border-width: 15px;
}

.navy {
    width: auto;
    height: 40px;
    background-color: rgb(4, 4, 58);
    border-style: solid;
    border-color: white;
}

nav {
    text-align: center;
    align-items: center;
    padding-top: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: medium;
}

nav > a {
    margin: 10px;
    color: white;
    border-style: solid;
    border-color: whitesmoke;
    margin-top: 15PX;
}
     

.contei {
    float: left;
    background-color: gray;
    height: 400px;
    width: 400px;
    align-items: center;
    margin-top: 70px;
    margin-left: 50px;
    border-style: solid;
    border-color: rgb(2, 2, 121);
    border-width: 10px;

}

.pp {
    height: 350px;
    width: 350px;
    padding-top: 30px;
    margin-left: 25px;
}


.maininfo  {
    text-align: center;
    background-color: gray;
    opacity: 0.7;
    width: 1300px;
    height: 500px;  
    margin-top: 30px;
    margin-right: 50px;
    margin-left: 70px;
    border-style: solid;
    border-color: rgb(2, 2, 121);
    border-width: 10px;

    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: larger;
}

.infochevito {
        
}